<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <!-- Reference https://dribbble.com/shots/24153691-Terra-Agricultural-Technology-Landing-Page -->
    <div class="Navigation">
      <button class="Menu">
        <i class="fa-solid fa-bars"></i>
        Menu
      </button>
      <h5>Terra</h5>
      <button class="Contact">
        Contact

        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>

    <div class="Content">
      <div class="Left">
        <div class="Top"></div>
        <div class="Bottom"></div>
      </div>
      <div class="Right"></div>
    </div>
  </body>
</html>
